@using Bar.Models
@model Usuario;

<div class="registro-wrapper">
    <div class="registro-card">

        <h2>Crear Cuenta</h2>

        <form asp-action="Registro" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="All" class="validation-summary"></div>

            <input asp-for="Nombre" placeholder="Nombre" />
            <span asp-validation-for="Nombre"></span>

            <input asp-for="Apellido" placeholder="Apellido" />
            <span asp-validation-for="Apellido"></span>

            <input asp-for="Nick" placeholder="Nick / Apodo" />
            <span asp-validation-for="Nick"></span>

            <input asp-for="Email" placeholder="Correo electrónico" />
            <span asp-validation-for="Email"></span>

            <input type="password" name="password" placeholder="Contraseña" />

            <input asp-for="Telefono" placeholder="Teléfono" />
            <input asp-for="Domicilio" placeholder="Domicilio" />

            <select asp-for="Rol">
                <option value="user">Cliente</option>
                <option value="resto">Vendedor</option>
            </select>

            <input type="file" name="Avatar" />

            <button type="submit">Registrarse</button>

        </form>

    </div>
</div>