@model Bar.Models.Plato

@{
    ViewData["Title"] = "Editar Plato";

}

<h2>Editar Plato</h2>

<div id="platoEdit">

<form asp-action="Editar" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="IdPlato"/>
    <input type="hidden" asp-for="IdRes"/>
    <input type="hidden" asp-for="Imagen"/>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>


    <div class="mb-3">
    <label asp-for="Ingredientes" class="form-label"></label>
    <input asp-for="Ingredientes"
           class="form-control"
           v-model="ingredientes"/>

    <div class="mb-3">
        <label asp-for="Descripcion" class="form-label"></label>
        <input asp-for="Descripcion" class="form-control"/>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Costo" class="form-label"></label>
        <input asp-for="Costo" class="form-control"/>
        <span asp-validation-for="Costo" class="text-danger"></span>
    </div>

    
    <div class="mb-3">
        <label class="form-label">Imagen actual</label><br />
        <img src="@(string.IsNullOrEmpty(Model.Imagen) 
           ? "/img/default-plato.png" 
           : Model.Imagen)"
     style="max-width:200px;" />
    </div>

    <div class="mb-3">
        <label class="form-label">Nueva imagen (opcional)</label>
        <input type="file"
            name="Imagen"
               class="form-control"
               v-on:change="previewImagen">
    </div>

    <div v-if="imagenPreview" class="mb-3">
        <label class="form-label">Nueva imagen seleccionada</label><br />
        <img :src="imagenPreview"
             class="img-thumbnail border border-success"
             style="max-width:200px;">
    </div>


    <button type="submit" class="btn btn-primary">
        Guardar cambios
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>
</form>

</div>

@section Scripts {
     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="~/js/plates-edit.js"></script>
  <partial name="_ValidationScriptsPartial" />  
}
