@model Bar.Models.Restaurante

<h2>Registrar restaurante</h2>

<form asp-action="Crear" method="post">
    <div>
        <label>Nombre</label>
        <input asp-for="Nombre"class="form-control"/>
    </div>

    <div>
        <label>Ubicacion</label>
        <input asp-for="Ubicacion"class="form-control"/>
    </div>

    <div>
        <label>Especialidad</label>
        <input asp-for="Especialidad"class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>
</form>