@model Bar.Models.Restaurante

@{
    ViewData["Title"] = "Editar Restaurante";

}

<h2>Editar Restaurante</h2>

<form asp-action="Editar" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="IdUsuario"/>
    <input type="hidden" asp-for="IdRes"/>
    <input type="hidden" asp-for="Imagen"/>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Ubicacion" class="form-label"></label>
        <input asp-for="Ubicacion" class="form-control"/>
        <span asp-validation-for="Ubicacion" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Especialidad" class="form-label"></label>
        <input asp-for="Especialidad" class="form-control"/>
        <span asp-validation-for="Especialidad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Imagen actual</label><br />
        <img src="@Model.Imagen" alt="Imagen plato" style="max-width:200px";
    </div>
    
    <div class="mb-3">
        <label class="form-label">Nueva imagen (opcional)</label>
        <input type="file" name="Imagen" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar cambios
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />  
}