
@{
    ViewData["Title"] = "Inico";

}
<div class="text-center">
<h2> ¡Bienvenido @User.Identity.Name!</h2>

    <h3> ¿Que delicia vamos a explorar hoy?</h3>

    <div style="margin-top:20px">
        <a asp-asp-controller="Plato" asp-action="IndexCliente"class="btn btn-success">
            Explorar platos
        </a>
    </div>

    <div style="margin-top:20px">
        <a asp-asp-controller="Plato" asp-action="IndexCliente"class="btn btn-success">
            Explorar platos
        </a>
    </div>
</div>
